.meme-cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  
    width: 300px;
    height: 300px;
  }
  
  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 2rem;
    border-radius: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 500px) {
    img {
      width: 250px;
      height: 250px;
    }
  }