.animated-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    color: rgb(51, 153, 255);
    top: 150px;
    height: 190px;
  }
  
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    height: 100px;
  }
  
  .footer {
    margin-top: auto;
    position: relative;
    top: 30vh;
  }
  
  @media (max-width: 700px) {
    .animated-text {
      padding-left: 2rem;
      margin-right: 2rem;
    }
    .footer {
      top: 320vh;
    }
  }